section {
  text-align: center;
  margin-top: 100px;
  height: 70px;
}
.app-top-toolbar {
  height: 200px;
}
mat-toolbar {
  justify-content: center;
  .headliner {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
  }
}
