<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile
    *ngFor="let navItem of sidenavUiQuery.componentNavItems$ | async"
  >
    <mat-card>
      <mat-card-content (click)="onCardClick(navItem)">{{
        navItem.text
      }}</mat-card-content>
      <mat-card-footer
        *ngIf="
          componentsUiQuery.selectComponentsByName(
            'ath' + navItem.text.toLowerCase()
          ) | async as component
        "
        [innerHTML]="component.comment"
      >
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
