@import '~@angular/material/theming';

@mixin components-component-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-card {
    &--selected,
    &:hover,
    &:focus {
      background-color: mat-color($background, hover, 0.12);
    }
  }

  .example-pane {
    border-color: mat-color($foreground, divider);
  }
}
