@import '~@angular/material/theming';

@mixin table-component-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $background: map-get($config, background);

  tr.mat-header-row {
    > th.mat-header-cell {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }
  }

  tr.mat-row {
    &:hover {
      background-color: mat-color($background, hover);
    }
  }
}

@mixin table-component-theme($theme) {
  $color: mat-get-color-config($theme);

  @if $color != null {
    @include table-component-color($color);
  }
}
