<div
  class="demo-nav-list-item-row"
  [ngStyle]="{ 'margin-left': getMargin(item) }"
>
  <a (click)="onItemToggleExpansion()" class="demo-nav-list-item-expand">
    <mat-icon inline="true" *ngIf="item?.expandable && !item?.expanded">
      keyboard_arrow_right
    </mat-icon>
    <mat-icon inline="true" *ngIf="item?.expandable && item?.expanded">
      keyboard_arrow_down
    </mat-icon>
  </a>
  <a
    mat-list-item
    (click)="onItemClick()"
    [ngClass]="{
      'mat-list-item--selected':
        sidenavUiQuery.selectIsNavItemSelected(item) | async
    }"
  >
    <div>
      {{ item?.text }}
    </div>
  </a>
</div>

<div *ngIf="item?.expanded">
  <app-nav-list-item *ngFor="let child of item?.children" [item]="child">
  </app-nav-list-item>
</div>
