<div
  class="demo-nav-list-item-row"
  [ngStyle]="{ 'margin-left': getMargin(item) }"
>
  <a
    *ngIf="
      item?.expandable &&
      (sidenavUiQuery.selectIsNavItemExpanded(item) | async) === false
    "
    (click)="onItemToggleExpansion(true)"
    class="demo-nav-list-item-expand"
  >
    <mat-icon inline="true"> keyboard_arrow_right </mat-icon>
  </a>
  <a
    *ngIf="
      item?.expandable &&
      (sidenavUiQuery.selectIsNavItemExpanded(item) | async) === true
    "
    (click)="onItemToggleExpansion(false)"
    class="demo-nav-list-item-expand"
  >
    <mat-icon inline="true"> keyboard_arrow_down </mat-icon>
  </a>
  <a
    mat-list-item
    (click)="onItemClick()"
    [ngClass]="{
      'mat-list-item--selected':
        sidenavUiQuery.selectIsNavItemSelected(item) | async
    }"
  >
    <div>
      {{ item?.text }}
    </div>
  </a>
</div>

<div *ngIf="(sidenavUiQuery.selectIsNavItemExpanded(item) | async) === true">
  <app-nav-list-item *ngFor="let child of item?.children" [item]="child">
  </app-nav-list-item>
</div>
